<div class="container content">
  <h1>Eat-da-Burger!</h1>

  <div class="content-burger">
    {{#each burgers}}
      <div class="content-burgerList" id={{id}}>
        <p>{{burgerName}}</p>
        <button class="btn btn-default favorites" data-id="{{id}}" data-state="{{isDevoured}}">
          {{#if isDevoured}} Yummy! {{else}} Devour it! {{/if}}
        </button>
      </div>
    {{/each}}
  </div>

  <h2>Make a Burger!</h2>
  <form>

    <div class="form-group">
      <input type="text" required placeholder="Add a Burger" class="form-control" name="burgerName">
    </div>

    <button type="submit" class="btn btn-default">Add a Burger</button>
  </form>
</div>